body {
  padding: 20px;
}

h1 {
  border-bottom: solid #ddd thin;
}

dt {
  border-bottom: solid #ddd thin;
  margin: 15px auto 10px auto;
}

dd {
  margin: 0px;
}

#backlog_benri_template {
  width: 100%;
  height: 200px;
}